.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  padding: 1rem 2rem;

  &__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 150px;
    }
  }

  &__links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      margin: 0 1rem;
      cursor: pointer;
      transition: color 0.25s ease;

      &:hover {
        color: var(--color-grey);
      }
    }
  }

  &__login {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      margin: 0 1rem;
      text-decoration: none;
      transition: border-bottom 1s ease; //! Transition not working

      &:hover {
        border-bottom: 1px solid var(--color-golden);
      }
    }

    div {
      width: 1px;
      height: 30px;
      background-color: var(--color-golden);
    }
  }
}